.loaderContainer {
  text-align: center;
  margin-top: 13rem;
}

.backButton {
  padding: 0.5rem 2rem;
  box-shadow: var(--shadow2);
  margin-top: 5rem;
  display: flex;
  align-items: center;
}

.flagContainer {
  width: 40%;
}

.flagImage {
  width: 100%;
}

.icon {
  font-size: 1.125rem;
  transform: translateY(-0.5px);
}

.details {
  margin-top: 5rem;
  display: flex;
}

.infoContainer {
  width: 60%;
  padding: 2rem 1rem 2rem 3rem;
}

.labelsContainer {
  display: flex;
  margin-top: 2rem;
}

.labels {
  font-size: 0.9rem;
}

.labels:nth-child(2) {
  margin-left: 6rem;
}

.labels > p {
  line-height: 1.8rem;
  font-weight: 600;
}

.labels > p > span {
  font-weight: 300;
}

@media (max-width: 1176px) {
  .infoContainer {
    padding-top: 0;
  }
}

@media (max-width: 960px) {
  .labels:nth-child(2) {
    margin-left: 2rem;
  }
}

@media (max-width: 840px) {
  .details {
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .infoContainer {
    padding: 0;
    margin-top: 2rem;
    width: 100%;
  }

  .flagContainer {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .details {
    width: 100%;
  }
}
