.button {
  background-color: var(--white);
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  color: var(--veryDarkBlue);
  cursor: pointer;
  transition: background-color ease-in-out 0.15s;
}

.button:hover {
  background-color: #f0f0f0;
}

.button:focus-visible {
  outline: 2px solid var(--darkBlue);
}

.button:disabled {
  background-color: rgb(228, 228, 228);
  color: rgb(187, 187, 187);
  cursor: not-allowed;
  box-shadow: none;
}

.button.dark {
  background-color: var(--darkBlue);
  color: var(--white);
  outline-color: var(--white);
}

.button.dark:focus-visible {
  outline: 2px solid var(--white);
}

.button.dark:hover {
  background-color: #404c57;
}

.button.dark:disabled {
  color: #7f7f7f;
  background-color: #26333e;
}
