.button {
  background-color: var(--white);
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  color: var(--veryDarkBlue);
  cursor: pointer;
  transition: background-color ease-in-out 0.15s;
  outline: none;
}

.button:hover {
  background-color: #f1f1f1;
}

.button:focus-visible {
  border: 2px solid var(--darkBlue);
}

.button.dark {
  background-color: var(--darkBlue);
  color: var(--white);
  outline-color: var(--white);
}

.button.dark:focus-visible {
  border: 2px solid var(--white);
}

.button.dark:hover {
  background-color: #404c57;
}
