.container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  gap: 1rem;
  grid-template-columns: auto auto auto auto;
  margin-top: 3rem;
}

@media (max-width: 1038px) {
  .container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 760px) {
  .container {
    display: block;
  }
}
