.container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  gap: 1rem;
  grid-template-columns: auto auto auto auto;
  margin-top: 2rem;
}

.loaderContainer {
  text-align: center;
  margin-top: 9rem;
}

@media (max-width: 1176px) {
  .container {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 896px) {
  .container {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}

@media (max-width: 620px) {
  .container {
    display: block;
  }
}
