:root {
  --darkBlue: hsl(209, 23%, 22%); /* dark mode elements */
  --mediumDarkblue: hsl(207, 26%, 17%); /* dark mode background */
  --veryDarkBlue: hsl(200, 15%, 8%); /* light mode text */
  --darkGray: hsl(0, 0%, 52%); /* light mode input */
  --veryLightGray: hsl(0, 0%, 98%); /* light mode background */
  --white: hsl(0, 0%, 100%); /* Dark Mode Text & Light Mode Elements */
  --shadow1: 0px 2px 4px 2px rgba(0, 0, 0, 0.08);
  --shadow2: 0px 0px 6px 2px rgba(0, 0, 0, 0.233);
  --countryCardWidth: 260px;
  --countryCardWidth_sm: 320px;
  --countryCardWidth_xs: 230px;
  --maxWidth: 1366px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: var(--veryLightGray);
  color: var(--veryDarkBlue);
}

.darkMode {
  background-color: var(--mediumDarkblue);
  color: var(--white);
}

@media (max-width: 520px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 12px;
  }
}
