.countryCard {
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: var(--shadow1);
  margin-bottom: 1.5rem;
  width: var(--countryCardWidth);
  height: calc(var(--countryCardWidth) * 1.3);
  text-decoration: none;
  display: block;
}

.details {
  padding: 1rem;
}

.countryName {
  font-size: 1.125rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.key {
  font-weight: 600;
  line-height: 1.75rem;
  font-size: 0.9rem;
}

.value {
  font-weight: 300;
  font-size: 0.9rem;
}

@media (max-width: 620px) {
  .countryCard {
    margin-left: auto;
    margin-right: auto;
    width: var(--countryCardWidth_sm);
    height: auto;
  }

  .flag {
    width: var(--countryCardWidth_sm);
    height: calc(var(--countryCardWidth_sm) * 0.6118);
  }
}

@media (max-width: 380px) {
  .countryCard {
    width: var(--countryCardWidth);
  }

  .flag {
    width: var(--countryCardWidth);
    height: calc(var(--countryCardWidth) * 0.6118);
  }
}

@media (max-width: 300px) {
  .countryCard {
    width: var(--countryCardWidth_xs);
  }

  .flag {
    width: var(--countryCardWidth_xs);
    height: calc(var(--countryCardWidth_xs) * 0.6118);
  }
}
